<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				{% for collection in site.collections %}
				<p>{{ collection }}</p>
				{% endfor %}
			</nav>
			<div class="container">
				
			<p> My website is under renovation.</p>
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/cranberryrobot"><img src="GitHub-Mark-120px-plus.png" height="32px" width="32px"></a></li>
				<li><a href="mailto:lukenash98@gmail.com">Email me!</a></li>
	        		
				</ul>
			</footer>
		</body>
	</html>

