<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/lightbulb.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<h1>Connect</h1><br/>
				<li>NOTES</li>
				<li><a href="/s/connect/historynotes">HST</a></li>
				<li><a href="/s/connect/historynotes">ELL</a></li>
				</br><br/>
				<li>SERVICES</li>
				<li><a href="/s/connect/sched.html">Work slot scheduler</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
		</body>
	</html>




