<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/lightbulb.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li>Connect</li>
				<li>NOTES</li>
				<li><a href="/s/connect/historynotes">History (HST112, HST120 and HST116)</a></li>
				<li><a href="/s/connect/historynotes">English (ELL112, ELL113 and ELL115)</a></li>
				<li>SERVICES</li>
				<li><a href="/s/connect/sched.html">Work slot scheduler</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
		</body>
	</html>


